In [ ]:
---
image: datastructures.png
title: Data Structures
subtitle: Python basics
date: '2024-02-16'
categories: [Python]
author: Kunal Khurana
jupyter: python3
toc: True
---

# learning outcomes- data structures

- 1. Tuple
- 2. List
- 3. Dictionary (hash maps or associated arrays)
- 4. Set

## Tuple

- cannot be changed

In [1]:
# example
tup = tuple(["foo", [1,2], True])

tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [3]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

### concatenation tuple with plus (+) operator

In [9]:
tup_2 = (4, None, 'zeal') + (5, 6, 32) + ('bar',) #no comma gives a type error
tup_2

(4, None, 'zeal', 5, 6, 32, 'bar')

### unpacking tuples

In [10]:
seq = [(1,2,3), (4, 5, 6), (7,8,9)]

for a, b, c in seq:
    print(f'a = {a}, b = {b}, c= {c}')

a = 1, b = 2, c= 3
a = 4, b = 5, c= 6
a = 7, b = 8, c= 9

In [14]:
# another method
values= 1, 2, 3, 4, 5

a, b, *rest = values

rest  # used to discard

[3, 4, 5]

In [13]:
b

2

## List

- same as tuples, but can be modified and lists use [ ] brackets

### using 'extend' method to append already existing lists

In [15]:
x = [4, 5, 6 , None, 'foo']
x.extend([7,8, (1, 2)])

x

[4, 5, 6, None, 'foo', 7, 8, (1, 2)]

### list concatenation with extend is faster

In [19]:
everything = []
for chunk in x:
    everything.extend(x)
    print(x)

[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]

### list concatenation with (+)

In [22]:
everything = []
for chunk in x:
    everything = everything + x
    print(x)

[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]
[4, 5, 6, None, 'foo', 7, 8, (1, 2)]

### slicing

In [24]:
x[-4:]

['foo', 7, 8, (1, 2)]

### getting every element

In [26]:
x[::2] # provived elemnents till 2nd index

[4, 6, 'foo', 8]

In [28]:
### reversing and getting every 
x [::-1]

[(1, 2), 8, 7, 'foo', None, 6, 5, 4]

In [47]:
y =[1, 2, 3, 4]

## Dictionaries

In [29]:
empty_dict = {}

d1 = {"a": 'some value', 'b': [1,2,3,4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

### accessing elements from the dictionary (same as list or tuple)

In [37]:
d1[3] = 'continue'

In [38]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 3: 'continue'}

In [32]:
'b' in d1

True

In [39]:
del d1[3]
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

### merge the dictionary into another using update method

In [40]:
d1.update({'d': 'food', 'e': 'à la maison'})
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'd': 'food', 'e': 'à la maison'}

### creating dictionaries from sequences

In [49]:
mapping =  {}
for key, value in zip(x, y):
    mapping[key] = value
print(mapping)

{4: 1, 5: 2, 6: 3, None: 4}

In [50]:
tuples = zip(range(5), reversed(range(5)))

tuples

In [53]:
mapping = dict(tuples)
mapping

{}

In [54]:
mapping

{}

In [56]:
# write a function to club the words by same first alphabet

words = ['apple', 'bat', 'bar', 'atom', 'book'] # list

by_letter = {} #empty dict

for word in words:
    letter = word[0] #first goes in
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

### valid dictionary types

In [57]:
hash('string')

5928582044493709413

In [58]:
hash((1, 2 ,(2, 3)))

-9209053662355515447

In [60]:
hash((1, 2, [2,3])) #fails because lists are mutable

TypeError: unhashable type: 'list'

In [61]:
d= {}

d[tuple([1,2,3])] = 5

d

{(1, 2, 3): 5}

In [63]:
d[tuple('strength')] = 'persistance'

d

{(1, 2, 3): 5, ('s', 't', 'r', 'e', 'n', 'g', 't', 'h'): 'persistance'}

## Set

- unordered collection of unique elements
- represented by curly brackets
- set operations [(union, intersection, difference, and symmetric difference)](https://learning.oreilly.com/library/view/python-for-data/9781098104023/ch03.html#table_set_operations)
- immutable = hashable = like tuple

In [65]:
set([1, 2, 2,2,3,4,5,5,6])

{1, 2, 3, 4, 5, 6}

In [66]:
a = {1,2,3}
b = {4,5,6}

a.union(b)

{1, 2, 3, 4, 5, 6}

In [68]:
a | b   # means union

{1, 2, 3, 4, 5, 6}

In [69]:
a.intersection(b)

set()

In [70]:
a & b # interection

set()

In [76]:
a.add(4)   #doesn't overwrite
a

{1, 2, 3, 4}

In [77]:
a & b

{4}